.auth-form {
  width: 50vw;
  height: 100vh;
  background-color: azure;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-form-subtitle {
  color: rgb(106, 108, 114);
}

.auth-form-form {
  max-width: 360px;
}
